name: Build

on: push

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2

      - name: Check codestyle
        run: Get-ChildItem -Include *.cpp, *.h -Recurse | Foreach { clang-format -i -verbose $_ }

      - name: Build application 
        run: make

      - name: Build and launch test
        run: make test
