name: Build

on: push

jobs:
	build:
	runs-on: windows-latest

	matrix:
		os: [ubuntu-latest, macOS-latest, windows-latest]
		compiler: [gcc, clang]
		exclude: 
		- os: windows-latest
		compiler: clang

	steps:
		- uses: actions/checkout@v2

		- name: Build application 
			run: make

		- name: Add clang path to $PATH env
			shell: bash
			if: runner.os == 'Windows'
			run: echo "PATH=$PATH:C:\msys64\mingw64\bin" >> $GITHUB_ENV

		- name: Build (with ${{matrix.compiler}}, for ${{matrix.os}})
			shell: bash
			run: make CC=${{matrix.compiler}}

		- name: Build and launch test
			run: make test